<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='/button.css') }}" rel="stylesheet">
  <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/assets/padel.jpg') }}"
      type="image/png"
    />
  <title>Registro Partidos</title>
</head>
<body>
  <div class="login-box">
    <h2>PADEL</h2>
    <form method="post" action="/matches">
      <div class="user-box">
        <input type="number" step="any" name="matches" required>
        <label>Partidos</label>
      </div>
      <div class="user-box">
        <input type="number" step="any"  name="balls" required>
        <label>Bolas</label>
      </div>
      <div class="user-box">
        <input type="number" step="any"  name="water" required>
        <label>Agua</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Añadir gastos!
      </button>
      <button type="button" id="redirect-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ir a los gastos!
      </button>
      
      <script>
        document.getElementById("redirect-button").addEventListener("click", function() {
          window.location.href = "/gastos";
        });
      </script>
     
     
    </form>
  </div>
  
</body>


</html>